body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background: url("image3.jpg");
    background-position: center; 
    background-size: cover;
    /* height: 100%; */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* max-width: 950px; */
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
}