body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: 'Dancing Script', cursive;

}

.shape{
    height: 150px;
    width: 150px;
    transform: skew(-20deg);
    background-color: orange;
}

.display{
    position: absolute;
    color: orangered;
    left: 400px;
    top: 150px;
    font-size: 40px;
}