#semi{
    width: 400px;
    height: 200px;
    background-color:black;
    border-radius: 200px 200px 0 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: orangered;
}